* {
    image-rendering: pixelated;
    font-family: "base";
    
}

@font-face {
    font-family: "base";
    src: url("../fonts/AlteHaasGroteskRegular.ttf");
    text-rendering: optimizeSpeed;
}

@font-face {
    font-family: "baseBold";
    src: url("../fonts/AlteHaasGroteskBold.ttf");
    text-rendering: optimizeSpeed;
}

body {
    overflow-x: hidden;
    background-image: url("../img/bg.png");
}


#topLogo {
    width: 70%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topButtons {
    max-width: 900px;
    background-color: rgb(212, 255, 156);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: black;
    border: 10px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 36px;
    padding: 10px;
    user-select: none;
    font-family: "baseBold";
}

.topButtons:hover {
    background-color: rgb(33, 57, 0);
    color: white;
    cursor: pointer;
}

.baseTableCell {
    background-repeat: no-repeat;
    padding: 0;
}
.baseTableRepeat {
    background-repeat: repeat;
}

.baseTable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.postBox {
    margin-top: 20px;
}

.post {
    background-repeat: no-repeat;
    display: block;
    max-width: 800px;
}

.postMid {
    background-image: url('../img/post_mid.png');
    background-repeat: repeat-y;
    margin-top: -40px;
    margin-bottom: -40px;
    padding-left: 20px;
    padding-right: 20px;
}

.postTitle {
    text-align: center;
    font-size: 36px;
    width: 100%;
    background-color: rgb(255, 200, 0);
    font-family: "baseBold";
}

.postMid img {
    width: 700px;
    margin-left: 30px;
}

.postMid p h3 {
    margin-left: 20px;
    margin-right: 60px;
    text-align: left;
}

.postMid a {
    color: blue;
}

.postDate::before {
    content: "Publish Date: ";
}

.postDate {
    text-align: right;
    font-style: italic;
    opacity: 0.5;
}

.footer {
    color:#dadada;
    background: linear-gradient(90deg, rgba(4,65,105,1) 0%, rgba(100,13,32,1) 100%);
    text-align:center;
    padding:15px;
    margin-left:-40px;
    margin-right:-20px;
    margin-top: 20px;
    margin-bottom: -200px;
    font-size:20px;
    border-top: 10px solid black;
}