* {
    image-rendering: pixelated;
    font-family: "base";
    
}

@font-face {
    font-family: "base";
    src: url("../fonts/TCCEB.TTF");
}

body {
    overflow-x: hidden;
    background-image: url("../img/bg.png");
}


#topLogo {
    width: 70%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.baseTableCell {
    background-repeat: no-repeat;
    padding: 0;
}
.baseTableRepeat {
    background-repeat: repeat;
}

.baseTable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.postBox {
    margin-top: 20px;
}

.post {
    background-repeat: no-repeat;
    display: block;
    max-width: 800px;
}

.postMid {
    background-image: url('../img/post_mid.png');
    background-repeat: repeat-y;
    margin-top: -40px;
    margin-bottom: -40px;
    
}

.postTitle {
    text-align: center;
    font-size: 48px;
    width: 90%;
    margin-left: 25px;
    margin-right: 0;
}

.postMid img {
    width: 700px;
    margin-left: 50px;
}

.postMid p {
    margin-left: 20px;
    margin-right: 60px;
    text-align: left;
}

.footer {
    color:#dadada;
    background: linear-gradient(90deg, rgba(4,65,105,1) 0%, rgba(100,13,32,1) 100%);
    text-align:center;
    padding:15px;
    margin-left:-40px;
    margin-right:-20px;
    margin-top: 20px;
    margin-bottom: -200px;
    font-size:20px;
    border-top: 10px solid black;
}